html {
    font-family: 'Courier New', Courier, monospace;
}

.header {
    width: 50%;
    background-color: #c8b89e;
    padding: 20px;
    color: #f0f8ff;
}

.social i {
    font-size: 24px;
}

.social a {
    color: #c8b89e;
    text-decoration: none;
}

.social a:hover {
    color: #ae9b7d;
}

.tech ul{
    padding: 0;
}

.tech ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #ae9b7d;
    color: #f0f8ff;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.main h2, .tech h2 {
    margin: 0;
}

.main a {
    color: black;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

.courses {
    padding-top: 20px;
}

.social,
.main,
.courses,
.footer,
.tech {
    background-color: #f0f8ff;
    width: 50%;
    padding: 0 20px;
    color: #ae9b7d;
}

.title::before {
    content: '⭐';
}

audio{
    background-color: #F1F3F4;
    border-radius: 0;
}

form {
    margin-top: 30px;
    width: 300px;
    text-align: center;
    padding: 20px;
    background-color: #c8b89e;
    border: 5px solid #ae9b7d;
}

form h3{
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
    color: #f0f8ff;
}

input,
textarea {
    width: 80%;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #f0f8ff;
    height: 30px;
    font-size: 15px;
    color: #f0f8ff;
    padding-top: 15px;
}

input::placeholder,
textarea::placeholder{
    color: #f0f8ff;
}

form button{
    background-color: transparent;
    border: 2px solid #f0f8ff;
    margin-top: 20px;
    padding: 10px 30px;
    color: #f0f8ff;
    text-align: center;
    cursor: pointer;
}   
form button:hover{
    background-color: #ae9b7d;
}